<div ng-controller="footerCtrl">
  <div class="container row">
    <div class="two columns offset-by-seven">
      <img class="rabbit" src="./images/rabbit.svg" />
    </div>
  </div>

  <div class="container row">
    <div class="five columns offset-by-four">
      <p class="X">X</p>
      <input class="newsletterInput" type="text" placeholder="enter your e-mail">
    </div>
    <div class="four columns">
      <button class="suscribeButton" type="submit">Woman</button>
      <button class="suscribeButton" type="submit">Man</button>
    </div>
    <div class="three columns offset-by-six">
      <p class="promoText">Suscribe to our newsletter</p>
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
    <div class="eight columns offset-by-four">
      <p class="shippingText">Free shipping on all Mexico orders with purchase of $150 USD or more, and free shipping to USA and more Worldwide destinations on orders over $250 USD</p>
    </div>
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
  </div>

  <div id="footerLinkDiv" class="container row">
    <hr class="longGreyLine">
    <div class="one column">
      <a class="footerLink" href="#">store</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">about</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">faq</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">blog</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">contact</a>
    </div>
    <div class="two columns">
      <a class="footerLink" href="#">naked friends</a>
    </div>
    <div class="five columns offset-by-four">
      <img class="socialIcon" src="./images/facebook.svg" />
      <img class="socialIcon" src="./images/twitter.svg" />
      <img class="socialIcon" src="./images/pinterest.svg" />
      <img class="socialIcon" src="./images/instagram.svg" />
      <img class="socialIcon" src="./images/googleplus.svg" />
      <img class="socialIcon" src="./images/youtube.svg" />
    </div>
  </div>

  <div class="container row">
    <div class="six columns offset-by-five">
      <p class="rightsText">All content © 2014 Naked Boutique.com. All rights reserved.</p>
    </div>
    <div class="six columns offset-by-five">
      <p class="hashtag">#ShopNaked</p>
    </div>
  </div>
</div>
