<div ng-controller="homeCtrl">

  <div class="container row">
    <div id="carrousel" class="sixteen columns">
      <img src="./images/carrusel1.png">
    </div>
  </div>

  <div id="highlightImages" class="container row">
    <div class="one-third column">
      <img src="./images/home1.png">
    </div>
    <div class="one-third column">
      <img src="./images/home2.png">
    </div>
    <div class="one-third column">
      <img src="./images/home3.png">
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <img class="rabbit" src="./images/rabbit.svg" />
    </div>
  </div>

  <div class="container row">
    <div class="five columns offset-by-four">
      <p class="X">X</p>
      <input class="newsletterInput" type="text" placeholder="enter your e-mail">
    </div>
    <div class="four columns">
      <button class="suscribeButton" type="submit">Woman</button>
      <button class="suscribeButton" type="submit">Man</button>
    </div>
    <div class="three columns offset-by-six">
      <p class="promoText">Suscribe to our newsletter</p>
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
    <div class="eight columns offset-by-four">
      <p class="shippingText">Free shipping on all Mexico orders with purchase of $150 USD or more, and free shipping to USA and more Worldwide destinations on orders over $250 USD</p>
    </div>
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
  </div>

</div>
