<div ng-controller="homeCtrl">

  <div class="container row">
    <div class="one column offset-by-eleven">login</div>
    <div class="one column">usd</div>
    <div class="one column">wishlist</div>
    <div class="two columns">(000) $00000.00 usd</div>
  </div>

  <div class="container row">
    <div class="three columns">Naked Boutique</div>
    <div class="one column">women</div>
    <div class="one column">men</div>
    <div class="two columns">personal shopper</div>
    <div class="two columns">culture house</div>
    <div class="two columns">search</div>

  </div>

  <div class="container row">
    <div id="carrousel" class="sixteen columns">
      <img src="./images/carrusel1.png">
    </div>
  </div>

  <div id="highlightImages" class="container row">
    <div class="one-third column">
      <img src="./images/home1.png">
    </div>
    <div class="one-third column">
      <img src="./images/home2.png">
    </div>
    <div class="one-third column">
      <img src="./images/home3.png">
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <h1>conejito</h1>
    </div>
  </div>

  <div class="container row">
    <div class="five columns offset-by-four">
      <input class="newsletterInput" type="text">
    </div>
    <div class="one column">
      <button type="submit">Woman</button>
    </div>
    <div class="one column">
      <button type="submit">Man</button>
    </div>
    <div class="three columns offset-by-six">Suscribe to our newsletter</div>
  </div>

  <div class="container row">
    <div class="six columns offset-by-five">
      <p>Free shipping on all Mexico orders with purchase of $150 USD or more, and free shipping to USA and more Worldwide destinations on orders over $250 USD</p>
    </div>
  </div>

  <div class="container row">
    <div class="one column">
      <p>store</p>
    </div>
    <div class="one column">
      <p>about</p>
    </div>
    <div class="one column">
      <p>faq</p>
    </div>
    <div class="one column">
      <p>blog</p>
    </div>
    <div class="one column">
      <p>contact</p>
    </div>
    <div class="two columns">
      <p>naked friends</p>
    </div>
    <div class="five columns offset-by-four">
      <h1>iconos</h1>
    </div>
  </div>

  <div class="container row">
    <div class="six columns offset-by-five">
      <p>All content © 2014 Naked Boutique.com. All rights reserved.</p>
    </div>
    <div class="six columns offset-by-five">
      <p>#ShopNaked</p>
    </div>
  </div>



</div>
