<div ng-controller="homeCtrl">

  <div id="actions" class="container row">
    <div class="one column offset-by-nine">
      <p class="actionText">login</p>
    </div>
    <div class="one column">
      <p class="actionText"><span class="money">$</span> usd</p>
    </div>
    <div class="two columns">
      <img class="heart" src="./images/heart.svg" /><p class="iconText" style="width: 84%">wishlist</p>
    </div>
    <div class="three columns">
      <img class="shoppingCart" src="./images/shoppingCart.svg" /><p class="iconText" style="width: 89%">(000) $00000.00 usd</p>
    </div>
  </div>

  <div id="menu" class="container row">
    <div class="two columns">
      <img class="logo" src="./images/logo.png" />
    </div>
    <div class="menuLinkDiv two columns">
      <a class="menuLink" href="#">women</a>
    </div>
    <div class="menuLinkDiv two columns">
      <a class="menuLink" href="#">men</a>
    </div>
    <div class="menuLinkDiv three columns">
      <a class="menuLink" href="#">personal shopper</a>
    </div>
    <div class="menuLinkDiv three columns">
      <a class="menuLink" href="#">culture house</a>
    </div>
    <div class="menuLinkDiv four columns">
      <input class="searchInput" type="text" placeholder="SEARCH" />
      <img class="search" src="./images/search.svg" />
    </div>

  </div>

  <div class="container row">
    <div id="carrousel" class="sixteen columns">
      <img src="./images/carrusel1.png">
    </div>
  </div>

  <div id="highlightImages" class="container row">
    <div class="one-third column">
      <img src="./images/home1.png">
    </div>
    <div class="one-third column">
      <img src="./images/home2.png">
    </div>
    <div class="one-third column">
      <img src="./images/home3.png">
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <img class="rabbit" src="./images/rabbit.svg" />
    </div>
  </div>

  <div class="container row">
    <div class="five columns offset-by-four">
      <p class="X">X</p>
      <input class="newsletterInput" type="text" placeholder="enter your e-mail">
    </div>
    <div class="four columns">
      <button class="suscribeButton" type="submit">Woman</button>
      <button class="suscribeButton" type="submit">Man</button>
    </div>
    <div class="three columns offset-by-six">
      <p class="promoText">Suscribe to our newsletter</p>
    </div>
  </div>

  <div class="container row">
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
    <div class="eight columns offset-by-four">
      <p class="shippingText">Free shipping on all Mexico orders with purchase of $150 USD or more, and free shipping to USA and more Worldwide destinations on orders over $250 USD</p>
    </div>
    <div class="two columns offset-by-seven">
      <hr class="suscribeLine">
    </div>
  </div>

  <div id="footerLinkDiv" class="container row">
    <hr class="longGreyLine">
    <div class="one column">
      <a class="footerLink" href="#">store</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">about</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">faq</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">blog</a>
    </div>
    <div class="one column">
      <a class="footerLink" href="#">contact</a>
    </div>
    <div class="two columns">
      <a class="footerLink" href="#">naked friends</a>
    </div>
    <div class="five columns offset-by-four">
      <img class="socialIcon" src="./images/facebook.svg" />
      <img class="socialIcon" src="./images/twitter.svg" />
      <img class="socialIcon" src="./images/pinterest.svg" />
      <img class="socialIcon" src="./images/instagram.svg" />
      <img class="socialIcon" src="./images/googleplus.svg" />
      <img class="socialIcon" src="./images/youtube.svg" />
    </div>
  </div>

  <div class="container row">
    <div class="six columns offset-by-five">
      <p class="rightsText">All content © 2014 Naked Boutique.com. All rights reserved.</p>
    </div>
    <div class="six columns offset-by-five">
      <p class="hashtag">#ShopNaked</p>
    </div>
  </div>



</div>
