<div ng-controller="menuCtrl">

  <div id="actions" class="container row">
    <div class="one column offset-by-nine">
      <p class="actionText">login</p>
    </div>
    <div class="one column">
      <p class="actionText"><span class="money">$</span> usd</p>
    </div>
    <div class="two columns">
      <img class="heart" src="./images/heart.svg" /><p class="iconText" style="width: 84%">wishlist</p>
    </div>
    <div class="three columns">
      <img class="shoppingCart" src="./images/shoppingCart.svg" /><p class="iconText" style="width: 89%">(000) $00000.00 usd</p>
    </div>
  </div>

  <div id="menu" class="container row">
    <div class="two columns">
      <img class="logo" src="./images/logo.png" />
    </div>
    <div class="menuLinkDiv two columns">
      <a class="menuLink" href="#">women</a>
    </div>
    <div class="menuLinkDiv two columns">
      <a class="menuLink" href="#">men</a>
    </div>
    <div class="menuLinkDiv three columns">
      <a class="menuLink" href="#">personal shopper</a>
    </div>
    <div class="menuLinkDiv three columns">
      <a class="menuLink" href="#">culture house</a>
    </div>
    <div class="menuLinkDiv four columns">
      <input class="searchInput" type="text" placeholder="SEARCH" />
      <img class="search" src="./images/search.svg" />
    </div>

  </div>

</div>
