<div ng-controller="productCtrl">

  <div class="container row">
    <div class="sixteen columns">
      <div class="breadcrumb">
        <p>women</p>
        <p>></p>
        <p>clothing</p>
        <p>></p>
        <p>jumpsuits</p>
        <p>></p>
        <p class="name">Arkatha Lilac Playsuit</p>
      </div>
    </div>
  </div>

  <div class="container row">
    <div class=" two columns">
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
    </div>
    <div class="seven columns">
      <img class="placeholder" src="./images/productplaceholder.png" />
    </div>
    <div class="seven columns">
      <h1>Arkatha Lilac Playsuit</h1>
      <p>by <span>Arkatha</span></p>
      <p class="price">$85.00 USD</p>
      <hr>
      <h2>Details</h2>
      <p class="details">label. Arkatha.</p>
      <p class="details">description. Look absolutely fresh & feminine wearing this sleeveless.</p>
      <p class="details">playsuit designed by Arkatha.</p>
      <p class="details">material. poly.</p>
      <p class="details">color. lilac.</p>
      <p class="details">washing directions. hand wash cold.</p>
      <p class="details">made in Mexico.</p>
      <hr>
      <h2>Shipping</h2>
      <p class="details">
        Free shipping on all Mexico orders with purchase of $150 USD or more,
        and free shipping to USA and more Worldwide destinations on orders over $250 USD
      </p>
      <p class="details"> View shipping policy </p>
      <hr>
      <p>Select Size:</p>
      <select>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>
      <p>Quantity</p>
      <button type="">-</button>
      <label>10</label>
      <button type="">+</button>
      <button type="submit">Add to shopping cart</button>
      <p>-OR-</p>
      <button type="">Save to wishlist</button>
      <hr>
      <h2>Share this</h2>
      <hr>
      <p>SKU: ARKA01</p>
      <p>Tags: Fresh, Summer</p>
    </div>
  </div>
  
  <div class="container row">
    <hr>
    <div class="three columns offset-by-five"><p class="related">you may also like</p></div>
    <div class="three columns"><p class="related">in this look</p></div>
  </div>

  <div class="container row">
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
  </div>

</div>
