<div ng-controller="productCtrl">

  <div class="container row">
    <div class="sixteen columns">
      <div class="breadcrumb">
        <p>women</p>
        <p>></p>
        <p>clothing</p>
        <p>></p>
        <p>jumpsuits</p>
        <p>></p>
        <p class="name">Arkatha Lilac Playsuit</p>
      </div>
    </div>
  </div>

  <div class="container row">
    <div class=" two columns">
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
      <div class="productImage">
        <img src="./images/product1.png" />
      </div>
    </div>
    <div class="seven columns">
      <img class="placeholder" src="./images/productplaceholder.png" />
    </div>
    <div class="seven columns productInfo">
      <h1 class="name">Arkatha Lilac Playsuit</h1>
      <p class="madeby">by <span class="designer">Arkatha</span></p>
      <h2 class="price">$85.00 <span class="currency">USD</span></h2>
      <hr>
      <h3 class="subtitle">Details</h3>
      <p class="detail"><span class="label">label.</span> Arkatha.</p>
      <p class="detail"><span class="label">description.</span> Look absolutely fresh & feminine wearing this sleeveless playsuit designed by Arkatha.</p>
      <p class="detail"><span class="label">material.</span> poly.</p>
      <p class="detail"><span class="label">color.</span> lilac.</p>
      <p class="detail"><span class="label">washing directions.</span> hand wash cold.</p>
      <br>
      <p class="detail"><span class="label">made in</span> Mexico.</p>
      <hr>
      <h3 class="subtitle">shipping</h3>
      <p class="detail">
        Free shipping on all Mexico orders with purchase of $150 USD or more,
        and free shipping to USA and more Worldwide destinations on orders over $250 USD
      </p>
      <br>
      <p class="detail"> View shipping policy </p>
      <hr>
      <div class="productRow">
        <p class="inputLabel">Select Size:</p>
        <div class="styled-select">
          <select class="sizeSelect">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
          <img class="arrow" src="./images/downarrow.svg">
        </div>
      </div>
      <div class="productRow">
        <p class="inputLabel">Quantity:</p>
        <button class="quantityButton" type="button">-</button>
        <div class="quantity">100</div>
        <button class="quantityButton" type="button">+</button>
      </div>
      <button class="longButton" type="button"> <img src="./images/buttonCart.svg"/>Add to shopping cart</button>
      <div class="button-or">- OR - </div>
      <button class="longButton" type="button"> <img src="./images/buttonHeart.svg"/>save to wishlist</button>
      <hr>
      <h3 class="subtitle">share this</h3>
      <div class="socialIcons">
        <img class="socialIcon" src="./images/facebook.svg" />
        <img class="socialIcon" src="./images/twitter.svg" />
        <img class="socialIcon" src="./images/pinterest.svg" />
        <img class="socialIcon" src="./images/instagram.svg" />
        <img class="socialIcon" src="./images/googleplus.svg" />
        <img class="socialIcon" src="./images/youtube.svg" />
      </div>
      <hr>
      <div class="information">
        <p>SKU: ARKA01</p>
        <p>Tags: <span class="tags">Fresh, Summer</span></p>
      </div>
    </div>
  </div>

  <div class="container row">
    <hr>
    <div class="three columns offset-by-five"><p class="related">you may also like</p></div>
    <div class="three columns"><p class="related">in this look</p></div>
  </div>

  <div class="container row">
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
  </div>

</div>
