<div ng-controller="shopCtrl">

  <div class="container row">
    <div class="fourteen columns offset-by-two">
      <hr>
      <h1>shop women</h1>
      <hr>
    </div>
  </div>


  <div class="container row">
    <div class="two columns">
      <div class="group">
        <p ng-click="test()" class="categoryName">clothing</p>
        <span class="subcategories">
          <p class="subcategoryName">Bottoms</p>
          <p class="subcategoryName">Dresses</p>
          <p class="subcategoryName">Jumpsuits</p>
          <p class="subcategoryName">Leggings</p>
          <p class="subcategoryName">Little Black Dress</p>
          <p class="subcategoryName">Sweaters & Outwear</p>
          <p class="subcategoryName">Swim</p>
          <p class="subcategoryName">Tops</p>
        </span>
        <p class="categoryName">accessories</p>
        <p class="categoryName">jewelry</p>
        <p class="categoryName">shoes</p>
      </div>
      <div class="group">
        <p class="categoryName">vintage room</p>
        <p class="categoryName">designer room</p>
        <p class="categoryName">brands</p>
      </div>
      <div class="group">
        <p class="categoryName">exclusives</p>
        <p class="categoryName">preorders</p>
        <p class="categoryName">giftc cards</p>
        <p class="categoryName">private sales</p>
      </div>
      <div class="group">
        <p class="categoryName forSale">SALE</p>
      </div>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
      </div>
    </div>
    <div class="four columns offset-by-one">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
        <div class="saleTag">sale</div>
      </div>
    </div>
    <div class="four columns offset-by-one">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00 USD</p>
      </div>
    </div>
  </div>

  <div id="pagination" class="container row">
    <div class="four columns offset-by-twelve">
      <div class="first block">View all</div>
      <div class="block">1</div>
      <div class="block">2</div>
      <div class="block">3</div>
      <div class="block">4</div>
      <div class="block">5</div>
      <div class="block"><img  src="./images/rightarrow.svg" /></div>
    </div>
  </div>

</div>
