<div ng-controller="shopCtrl">

  <div class="container row">
    <div class="fourteen columns offset-by-two">
      <hr>
      <h1>shop women</h1>
      <hr>
    </div>
  </div>


  <div class="container row">
    <div class="two columns">
      <p ng-click="test()" class="categoryName">CLOTHING</p>
      <p class="categoryName">ACCESSORIES</p>
      <p class="categoryName">JEWELRY</p>
      <p class="categoryName">SHOES</p>
      <p class="categoryName">BRANDS</p>
      <p class="categoryName">DESIGNER ROOM</p>
      <p class="categoryName">VINTAGE ROOM</p>
      <p class="categoryName">EXCLUSIVES</p>
      <p class="categoryName">PREORDERS</p>
      <p class="categoryName">GIFT CARDS</p>
      <p class="categoryName">PRIVATE SALES</p>
    </div>
    <div class="four columns">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
    </div>
    <div class="four columns offset-by-one">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
    </div>
    <div class="four columns offset-by-one">
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
      <div class="product">
        <img class="image" src="./images/shopplaceholder.png"/>
        <p class="subcategory">Dresses</p>
        <p class="name">Cynthia Buttenklepper Aloe Camisole</p>
        <p class="price">$ 195.00</p>
      </div>
    </div>
  </div>

  <div id="pagination" class="container row">
    <div class="four columns offset-by-twelve">
      <div class="block">View all</div>
      <div class="block">1</div>
      <div class="block">2</div>
      <div class="block">3</div>
      <div class="block">4</div>
      <div class="block">5</div>
      <div class="block"><img  src="./images/rightarrow.svg" /></div>
    </div>
  </div>

</div>
